.wiki {
    display: inline-flex;
    text-align: center;
}

body {
    background-color: #eaf3f8;
}

header {
    width: 60%;
}

.em{
    margin-right: 2em;
}

.article-jour {
    width: 40%;
}

.presentation {
    width: 25%;
}

.barre {
    text-align: center;
}

.search {
    width: 385px;
    height: 30px;
}

.wikibas {
    text-align: center;
}

#titre {
    text-align: center;
}

.encyclopedie {
    text-align: center;
}


.gauche {
    float: left;
    width: 20%;
    margin-left: 10px;
}

.actualites {
    float: left;
    width: 40%;
    right: auto;
}

.ephemeride {
    width: 30%;
}
.saviezvous {
    width: 40%;
}

.image-jour {
    width: 30%;
}

ul.horizontal-list {
    list-style: none;
  }
  ul.horizontal-list li {
    display: inline;
  }
 
  .image-droite-text {
      float: right;
  }

 .ensemble {
     display: flex;
     align-items: flex-start;
     flex-wrap: wrap;
 }

/*page d'acceuil*/

.listebas{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    border: #000000;
}

.box1{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 1 1 auto;
    border-radius: 0.2em;
    width: 19%;
}

.box2{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 2 1 auto;
    border-radius: 0.2em;
    width: 19%;
}

.box3{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 3 1 auto;
    border-radius: 0.2em;
    width: 19%;
}

.box4{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 4 1 auto;
    border-radius: 0.2em;
    width: 19%;
}

.box5{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 0 1 auto;
    border-radius: 0.2em;
    width: 19%;
}

.box6{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 0 1 auto;
    border-radius: 0.2em;
    width: 19%;
}

.box7{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 0 1 auto;
    border-radius: 0.2em;
    width: 19%;
}

.box8{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 0 1 auto;
    border-radius: 0.2em;
    width: 19%;
}

.box9{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 0 1 auto;
    border-radius: 0.2em;
    width: 45%;
}

.box10{
    box-shadow: 0 0 0.4em;
    margin: 1.2em;
    flex: 0 1 auto;
    border-radius: 0.2em;
    width: 45%;
}
